{% extends 'wishs/base.html' %}
{% load staticfiles %}

{% block head %}
    <link href="{% static 'css/home.css' %}" rel="stylesheet">
{% endblock %}

{% block beforeFeed %}
<div id="feed-div-container" class="container-fluid">
      <div class="row">
        <div class="col-sm-8 col-sm-offset-2 main-div-container">
          <div class="row">
            <div id="wish-input-container" class="col-sm-6 col-sm-offset-3">
              <div id="wish-input">
                <div id="add-wish-div" class="form-group">
                  <textarea id="add-wish-textarea" class="form-control" 
                            rows="5" placeholder="What's your wish?"></textarea>
                </div>
                <button id="add-wish-btn" class="btn btn-default btn-primary">Add wish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}

{% block afterFeed %}
<template id="wish-template">
  <div class="wish-container">
    <div class="wish-div">
      <div class="username-div">
        <p id="user"></p>
      </div>
      <div class="timestamp-div">
        <p id="timestamp"></p>
      </div>
      <div class="wish-text-div">
        <p id="text"></p>
      </div>
    </div>
  </div>
</template>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/home.js' %}"></script>
{% endblock %}